
footer{
  background-color: black;
  background-image: url(img/footerIMG.png);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 6;
  width: 100%;
}
header{
	background-color: black;
}
h1{
	color: white;
	font-family:'B612 Mono', monospace; font-size: 35px;
}

.logo,.slogan{
	display: inline-block;
}
.header1{
	display: inline-block;
	width: 70%;
}
.header2{
	display: inline-block;
	width: 25%
}
.menu{
	display: inline-block;
	width: 70%;
}
.search{
	display: inline-block;
	width: 25%;
}
body{
	background-color: black;
	font-family: 'B612 Mono', monospace;
}
.category{
	display: inline-block; align-content: center;
	width: 350px;
}
.category a{
	display: block;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 78px;
text-decoration: none;

color: #5EE31F;
}
.category img{
	display: block;
	width: 100%;
}

.categories{
	margin-top: 60px;
	margin-bottom: 150px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(76, 250, 198, 0.3);
	text-align: center;
	padding-bottom: 100px;
}
.header2 img{
	margin-left: 50px;
}
.search input{ 
	margin-left: 50px;
}
footer section{
  color: white;
  text-align: center;
}
