
footer{

  background-color: black;
  background-image: url(img/footerIMG.png);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 6;
  position: fixed;
  width: 100%;
}
header{
	background-color: black;
}
h1{
	color: white;
	font-family:'B612 Mono', monospace; font-size: 35px;
}

.logo,.slogan{
	display: inline-block;
}
.header1{
	display: inline-block;
	width: 70%;
}
.header2{
	display: inline-block;
	width: 10%;
}
body{
	background-color: black;
	font-family: 'B612 Mono', monospace;
}
form{
	display: inline-block; margin-left: 100%;
}
.species,.genders,.origins{
	display: inline-block;
}


footer section{
  color: white;
  text-align: center;
}
